.title {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.detailsContainer {
    margin-top: 30px;
    text-align: 'initial';
}
.imageContainer {
 width: 200px;
}
.generalContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.detailsButtonContainer {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
 